h1 {
  font-size: 110px;
  font-family: 'Lobster', cursive;
}
p {
  text-decoration: underline;
}

h2 {
  font-family: 'Lobster', cursive;
  text-decoration: line-through;
  background-color: #dbd2bd
}

h3 {
  font-size: 15px;
  font-family: 'Simonetta', cursive;
  background-color: #b4c2b5
}

h4 {
  font-size: 80px;
  font-family: 'Lobster', cursive;
  color: #fcfcf2;
  background-color: #a2bab4
}

h5 {
  font-size: 15px;
  font-family: 'Rokkitt', serif;
  color: #ba7989;
  background-color: #eeedf5
}

h6 {
  font-size: 20px;
  font-family: 'Lobster', cursive;
  background-color: #f2e4e1
}
